<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css"> 
        <!-- or href="/css/styles.css"   forward slash in the beginning brings us to the root (which in this case is public) -->
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}

            <p>Use this site to get your weather</p>

            <form>
                <input placeholder="location">
                <button>Search</button>
            </form>
            <p id = "message-1"></p>
            <p id = "message-2"></p>
        </div>
        {{>footer}}

        <script src="/js/app.js"></script>

    </body>


</html>

<!-- we use name index because it gets loaded by default when value isnt provided -->
<!-- check the above line from internet for sure -->